* { /* con asterisco indicamos que es para el sitio total*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 22px;
}

/*HEAD*/

.contenido-header {  /*Imagen fondo mujer*/
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg-girl.jpeg');
    background-position: center; /*Centramos imagen*/
    background-size: cover; /*Respeta el ancho de la imagen, el alto puedes cortar*/
    background-attachment: fixed; /*scroll: el contenido queda pegado arriba*/
}

.contenido-header .fondo { /*IMAGEN FLORES*/
    width: 0%;
    height: 100%;
    max-width: 100%;
    background-image: url('../img/bg-top.png');
}

.contenido-header .texto { /*texto entrada*/
    width: 100vw; /*no abarques el 100% del contenedor, sino de la pantalla - calc (100vw - 20px);*/
    height: 100vh; /*vh: que sea el alto de la pantalla-dispositivo*/
    font-size: 90px;
    font-weight: 400; /*400 tomado de google*/
    font-family: 'Noto Serif', serif; /*El segundo parametro es por si no encuentro el primero*/
    font-style: italic;
    display: flex;
    align-items: center; /*centramos/alineamos en forma vertical*/
    justify-content: center;
    color: purple;
    mix-blend-mode: multiply; /*texto transparente*/
}

/*NAVIGATION / MENU*/

.menu {
    background-color: var(--purple-medium); /*Color bg*/
    width: 100%;
    position: sticky; /*El navegador se mantiene estatico con scroll, (abajo)*/
    top: 0; /*Este tambien es importante para posicionar fijo el nav*/ 
    padding: 5px;
    z-index: 999;
    text-align: center; /*Alineamos al centro*/
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 60px;
}

/*ENLACES*/
.menu a { 
    display: inline-block; /*Quitamos el detalle azul del enlace*/
    padding: 10px 30px;
    font-size: 26px;
    background-color: var(--purple-medium);
    margin: 0 10px; /*Arriba y abajo 0px, a los costados 10px*/
    transition: .5s ease all; /* transicion de movimiento y cambio color del fondo, para todas las propiedades*/
    color: var(--gray-light);
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(18px); /*Traslada la caja hacia abajo 18px*/
    background-color: var(--purple-light);
}

/*
SECCION : NOSOTROS
*/

.nosotros {
    margin-bottom: 60px;
}

.subtitulo {
    font-size: 20px;
    color: var(--purple-dark);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    z-index: 2; /*Aseguro que el sub, quede arriba del text*/
    text-transform: uppercase; /*Todo el texto a mayus*/
    margin-bottom: 20px;
}

.subtitulo span {
    background-color: var(--gray-light);
    padding: 0 15px;
    z-index: 99;
    position: relative;
}

.subtitulo::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--purple-dark);
    position: relative;
    top: -14px;
    z-index: 1;
}

.nosotros .titulo, .productos .titulo {
    width: 70%;
    font-size:  44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.nosotros .enlace {
    display: inline-block;
    margin-top: 40px;
    color: var(--purple-light);
    font-weight: 700;
    border-bottom: 10px solid transparent; /*Transparencia*/
    transition: .3s ease all;
}

.nosotros .enlace:hover {
    text-decoration: none; /*quito subrayado del enlace*/
    letter-spacing: 3px; /*Expancion del texto*/
    border-bottom: 1px solid var (var(--purple-light));
}

/*PRODUCTOS*/

.productos {
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
}




